<div class="container-fluid">
    <div class="center-block well text-center" ng-if="isAuthenticated() && !hasPermissions()">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <h1 class="float-left display-3 mr-4">403 Forbidden</h1>
                    <h4 >You do not have permission for this action.</h4>
                    <p >Contact the administrator to obtain permission.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-group" ng-show="isAuthenticated() && hasPermissions()">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createCliente">Create new Cliente</label>
                <label ng-if="edit" id="editCliente">Edit Cliente</label></div>
            <div class="panel-body">
                <form ng-submit="createCliente()" name="cliente">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="clienteName" class="col-sm-2">Name:</label>
                            <input id="clienteName" required ng-model="clienteName" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="clienteTipoTarjeta" class="col-sm-2">TipoTarjeta:</label>
                            <input id="clienteTipoTarjeta" required ng-model="clienteTipoTarjeta" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="clienteNumeroTarjeta" class="col-sm-2">NumeroTarjeta:</label>
                            <input id="clienteNumeroTarjeta" required ng-model="clienteNumeroTarjeta" class="col-sm-6"/>
                        </div>
                    </div>
                    <div ng-if="edit" class="panel-group" id="theComentarios">
                        <div class="panel panel-info">
                            <div class="panel-heading">Associated comentarios</div>
                            <div class="panel-body">
                                <div id="div2" ondrop="angular.element(document.getElementById('theComentarios')).scope().dropAdd(event)" ondragover="angular.element(document.getElementById('theComentarios')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-show="edit" ng-repeat="comentario in allComentariosCliente">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('theComentarios')).scope().drag(event)" id="{{comentario.id}}">{{comentario.contenido}}</p>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">All comentarios</div>
                            <div class="panel-body">
                                <div id="div1" ondrop="angular.element(document.getElementById('theComentarios')).scope().dropDelete(event)" ondragover="angular.element(document.getElementById('theComentarios')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-repeat="comentario in allComentariosShow">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('theComentarios')).scope().drag(event)" id="{{comentario.id}}">{{comentario.contenido}}</p>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!cliente.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="cliente.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="clientesList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


