<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="row">
        <!-- marcosRecords fue inicializada en el controlador del estado marcosList -->
        <!-- Itera sobre cada uno de los marcos en la colección marcosRecords -->
        <div class="col-sm-2 col-md-2" ng-repeat="marco in marcosRecords">
             <!--Despliega la imagen  -->
            <div class="thumbnail">
                <img class="img-responsive" ng-src='{{marco.image}}' alt="{{marco.name}}" />  
                 <!-- Despliega en el caption de la imagen el nombre del marco -->
                <div class="caption text-center"><a ui-sref="marcoDetail({marcoId: marco.id})">{{marco.name}}</a></div>
            </div>
        </div>
    </div>
</div>
