<div class="container-fluid">
    <div class="row">
       
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a ng-if="isAuthenticated() && hasPermissions()" class="btn btn-info" ui-sref="marcosCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar un nuevo marco</a>
            </div>
        </div>
        <br>
        <div class="col-sm-2 col-md-2" ng-repeat="marco in marcosRecords">
            <div class="thumbnail">
                <a ui-sref="marcoDetail({marcoId: marco.id})">                    
                    <img class="img-responsive" ng-src='{{marco.image}}' alt="{{marco.name}}" />                  
                </a>
                <div class="caption text-center">
                    <p>{{marco.name}}</p>
                    <a ng-if="isAuthenticated() && hasPermissions()" class="btn btn-default btn-sm" ui-sref="marcoUpdate({marcoId: marco.id})"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                    <a ng-if="isAuthenticated() && hasPermissions()" class="btn btn-danger btn-sm" ui-sref="marcoDelete({marcoId: marco.id})"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                </div>
            </div>
        </div>
    </div>
</div>
  
