<alert ng-repeat="alert in alerts" type="{{alert.type}}" 
       close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">  
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Fecha</th> 
                    <th>Valor</th>               
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="compra in comprasRecords"> 
                    <td id="{{$index}}-fecha">{{compra.fecha}}</td>   
                    <td id="{{$index}}-valor">{{compra.valor}}</td>   
                </tr>
            </tbody>
        </table>
    </div>
</div>
