<div class="container-fluid">   
    <div class="col-sm-12">
        <br>
        <table ng-if="!messageReviews" class="table table-striped">
            
            <tbody>
                <tr ng-repeat="blog in blogsRecords">
                    <td id="{{$index}}-id"><b>{{currentArtista.name}}</b><span>: </span>{{blog.contenido}}</td>                                  
                </tr>
            </tbody>
        </table>
        <table ng-if="messageReviews" class="table table-striped">
            
            <tbody>
                <tr>
                    <td><b>{{messageReviews}}</b></td>                                  
                </tr>
            </tbody>
        </table>
    </div>

</div>
