<div class="panel "  > 
    <div class="panel-body" >
    <div class="row">
        <div class="col-md-3" >
            
            <div  >
               
                <img ng-src="{{currentArtista.imagen}}"  class="img-responsive" style="border-color: red ; border-radius: 44px;border-width: 14px " ></img>
            </div>
            <div class="row">
                <br>
                <br>
                <div class="col-md-1" >
                    <a  ui-sref="artistasList"class="btn btn-info" style="size: "><span class="glyphicon glyphicon-backward"></span>&nbsp;Volver a la lista</a>
</div>
</div>         
</div>
        
        
  <div class="vr">&nbsp;</div>
     
        <div class="col-md-3">
            <dl>     
           
                
                <hr>
                <dt>Id</dt>
                <dd>{{currentArtista.id}}</dd>
          
                <hr>
                <dt>Nombre</dt>
                <dd>{{currentArtista.name}}</dd>
                
              
                 <hr>
                <dt>Hoja de vida</dt>
                <br>
                  
                   <td id="{{$index}}-hojaVida"><a  ui-sref="hojaVidaDetail({hojaVidaId: currentArtista.hoja.id})"class="btn btn-info"><span class="glyphicon glyphicon-search"></span>&nbsp;Ver hoja de vida</a></td>
            </dl>
            

        </div>
           <div class="col-md-3">
                <br>
                    
        <label>Blogs</label>
                <br>
            <ul class="nav nav-tabs" ng-repeat="blog in currentArtista.blogs" >
                
                    <li role="presentation" class="active"><b> {{blog.name}}:</b><span> <span>{{blog.contenido}}  <br>
                    <br> </li>
                   
                </ul>
                </div>
    </div>
        
        <div class="row">
        <br>
        <label style="font-size: 22px">&nbsp; &nbsp;&nbsp;&nbsp;Obras</label>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" >
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a ng-if="isAuthenticated() && hasPermissions()" class="btn btn-info" ui-sref="obrasCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar una nueva obra</a>
            </div>
        </div>
        <br>
        <div class="col-sm-2 col-md-2" ng-repeat="obra in currentArtista.obras" >
            <div class="thumbnail" >
                <a ui-sref="obraDetail({obraId: obra.id})">                    
                    <img class="img-responsive" ng-src='{{obra.imagen}}'style='width:160px;height:160px;' >                  
                </a>
                <div class="caption text-center">
                    <p>{{obra.name}}</p>
                    
                    <a ng-if="isAuthenticated() && hasPermissions()" class="btn btn-default btn-sm" ui-sref="obraUpdate({obraId: obra.id})"><span class="glyphicon glyphicon-edit"></span> Editar</a>
                    <a ng-if="isAuthenticated() && hasPermissions()" class="btn btn-danger btn-sm" ui-sref="obraDelete({obraId: obra.id})"><span class="glyphicon glyphicon-trash"></span> Eliminar</a>
                </div>
            </div>
        </div>
       
    </div>
        </div>
</div>

