<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>    
                    <th>Birth Date</th>  

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="artista in artistaRecords">
                    <td id="{{$index}}-name">{{artista.name}}</td>
                    <td id="{{$index}}-birthDate">{{artista.birthDate| date:'yyyy-MM-dd'}}</td>                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
